

img{
  width:100%;
}




body {
  font-family: orpheuspro, serif;
  font-weight: 400;
  background-color:#FFF5F0;


}




p {
  
font-family: garamond-premier-pro-display, serif;
font-weight: 300;
font-style: normal;
color: #757575;
/* font-size: 16px; */
}

p.lead{
   color:#222222;
}

.text-orange{
  color:#c87549;
}



h1, h2, h3, h4, h5, h6 {
  font-family: orpheuspro, serif;
  font-weight: 400;
  color:#222222;
 
  /* line-height: 1.5; */
}

h1, h2, h3{
  text-transform: uppercase;
}



ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
    color: #000
}

.bg-light {
    background-color: #fff5f0!important;
}

.nav-link {

font-size: 0.80rem;
 letter-spacing: 0.05em;


text-transform: uppercase;
font-weight: normal;
margin: 0px 5px;

}



.btn:hover {
    cursor: pointer;
    background: #bd85531a;
}


.btn{
  
    padding: 5px 50px;
   
    font-size: 12.5px;
    /* letter-spacing: 0.1em; */
    background: white;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;

    transition: all 0.4s ease-in-out;}




    .btn-left{
    padding: 5px 0px 5px 0px;
    border:none;
    text-decoration: underline;
    }



/* footer !!!*/

footer{
background-color: #bd85531a;
 /* background-color:#bd855324;  */
}
.social-media li {
  display: inline-block;
}

.footer .footer-menu li{
   display:inline-block;
}












/* ------------------------------------------ */

/* HOME- CAROUSEL SECTION */

.carousel-image {
    background-position: center;
    background-size: cover;
    height: 600px;

  }


/* HOME- CATERGORY SECTION */


.category-box {
  background-size: cover;
  /* margin-bottom: 30px; */
  /* min-height: 350px; */
  max-height:805px;
  position: relative;
  overflow: hidden;
  width: 100%;
}




.category-box:hover img {
  transform: scale(1.1);
}

.category-box img {
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: auto;
 
}

/* .category-box a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.category-box .content {
  position: absolute;
  z-index: 999;
  top: 0;
  padding: 25px;
}

 .category-box-2 .content-2 {
  position: absolute;
  z-index: 999;
  top: 0;
  
}


img.short-card{
  max-height: 350px;
}
img.tall-card{
  max-height: 750px;
}

img.md-card{
  max-height: 509px;
}

@media(max-width:768px){
  img.short-card{
  max-height: 200px;
}
img.tall-card{
  max-height: 850px;
}

img.md-card{
  max-height: 800px;
}
}
/* @media (max-width: 768px) {
  .category-box .content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
} */



















/* SHOPPING PAGE SHOPPING PAGE !!!!!!!*/

.card-text{
  font-size: 2rem;
}


.price{
  font-size: 1.5rem;
}

span.price {
  
font-family: garamond-premier-pro-display, serif;
font-weight: 300;
font-style: normal;
color: #757575;
font-size: 2rem;
/* font-size: 16px; */
}


    
/* CONTACT PAGE CONTACT PAGE CONTACT!! */


.jumbotron{
  background-position: center;
  background-size: cover;
  padding: 1rem 1rem;
    
}


.story-intro h4{
  line-height: 1.5;
}

hr.dotted {
    border-top: 2px dotted #bd85531c;

}

hr{
  border-top:1px solid #bd855345;
}




/* FAQ accordion*/

#accordion .panel-title a{
    display: block;
    padding: 12px 15px;
    background: #fff;
    /* font-size: 18px; */
    font-weight: 400;
    color: #c87549;
   
    /*border: 1px solid #ececec;*/
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    position: relative;
    transition: all 0.5s ease 0s;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
}

#accordion .panel-title a.collapsed{
    box-shadow: none;
    color: #676767;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    width: 25px;
    height: 25px;
    line-height: 28px;
    font-size: 15px;
    font-weight: 900;
    color: #c87549;
    text-align: center;
    position: absolute;
    top: 8px;
    right: 15px;
    transform: rotate(135deg);
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed:before{
    color: #676767;
    transform: rotate(0);
}
#accordion .panel-title a:after{
    content: "";
    width: 1px;
    height: 100%;
    background: #ececec;
    position: absolute;
    top: 0;
    right: 55px;
}
#accordion .panel-body{
    padding: 0px 15px;
    border: none;
    line-height: 27px;
}







/* PRODUCT PAGE PRODUCT PAGE PRODUCT PAGE*/

.product-highlight{
  margin-top:80px;
}


.product-price{
  font-size: 2.5rem;
}
    

/* product carousel*/
.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #c87549;
}
.carousel-indicators {
    bottom: -35px;
}


img.w-100{
  max-height:500px;
}

/* -------checkout form-------- */
#checkoutForm{
    display:none;
}

.btn-checkout{
  padding: 10px 75px;
}