
body{
  overflow-x:hidden;
  font-family: 'Arvo', serif;
  color:#545454;
}

.container-fluid{
  padding-left:0!important;
  padding-right:0!important;
}


.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}


.text-dark{
 
  color:#545454!important;
}


h1{
  font-weight:700;
  font-family: 'Raleway', sans-serif;
}


h2{
  font-weight:700;
  font-family: 'Raleway', sans-serif;
}

h3{
  font-weight:700;
}

.bg-red{
  background-color:#e73416;
}




heading{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}


hr {
  border:2px solid #fff;
}

/* NAVBAR!!!!! */


.navbar{
  font-size:1.15rem;
  box-shadow: 0 .5rem .5rem rgba(0,0,0,.1);
  z-index:1;

}
.navbar .navbar-collapse {
  text-align: center;
}

 /* .navbar-brand img{
  height:3rem;
 } */



.nav-link{
  color:#e00016!important;
}

.nav-link:hover {
  color:#8d000e!important;
}




/* jumbotron! */

.jumbotron-fluid{
  padding-left:0!important;
  padding-right:0!important;
}

.jumbotron {
  background-size: cover;
  background-position: bottom center;
  /* height: 100vh; */
  background-repeat: no-repeat;
  }


.bg-transparent{
    background-color: rgba(255, 255, 255, 0.9) !important;
    border-radius:1rem;
}
/* 
.jumbo-inner h1{
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,.4);
}
.jumbo-inner p{
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,.4);
} */





/*HOME 3 circle section! */

.rounded-circle{
  object-fit: cover;
}




/* HOME quote section! */

.fixed-row{
  background-color: rgba(0,0,0,.55);
}


.fixed{
  background-image: url(images/peppersandspice.jpg);
  position: fixed;
}



.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
  
/* ------------------------ */



/*SERVICES carousel */
 .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
 }

 .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
  background-color:red;
}


.carousel-caption {
    position: relative;
    left: 0;
  
}


/*SERVICES card section */

 .lead-vip{
    font-weight:900!important;
  }









/* ------------------------ */




/* footer! */
.footer-background {
  background-size: cover;
  background-position: center center;
  /* height: 100vh; */
  background-repeat: no-repeat;
  z-index:100!important;
  }

  .footer-row{
  z-index:-100!important;
  }


   footer a{
    color:#545454!important;
    text-decoration: none;
  }
  


  footer a:hover{
    color:red!important;
  }



 

